.text, 
.image,
.video,
.plus,
.text-span,
.image-span,
.video-span {
    position: fixed;
}

.text, 
.image,
.video,
.plus {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.text {
    right: 150px;
    bottom: 350px;
}

.image {
    right: 150px;
    bottom: 270px;
}

.video {
    right: 150px;
    bottom: 190px;
}

.plus {
    right: 150px;
    bottom: 110px;
}

.text-span {
    right: 110px;
    bottom: 370px;
}

.image-span{
    right: 95px;
    bottom: 290px;
}

.video-span {
    right: 100px;
    bottom: 210px;
}

.modal-overlay {   
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.85);
}

#textModal, 
#imageModal,
#videoModal {
    position: relative;    
    top: calc(50vh - 126px);
    z-index: 3;
    background: white;
}

#textModal {       
    top: calc(50vh - 151px);
}